div {
	border: 1px dotted gray;
	padding: 5px;
	margin: 5px;
}

.table1 th {
	border: 1px dotted gray;
	padding: 5px;
	background: maroon;
	color: white;
}

.table1 td {
	border: 1px dotted gray;
	padding: 5px;
	background: white;
}

.errorMessage {
	color: red;
}

/* pagination */
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid black;
}

.pagination li:first-child a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
	background-color: brown;
	color: white;
	border: 1px solid grey;
}

.notActive {
	/* nothing special */
	
}

ul.pagination li a.notActive:hover {
	background-color: lightpink;
}

div.center {
	text-align: center;
}